

h1 { 
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: 'Lato', sans-serif;


  font-size: 56px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 500; 
  line-height: 70px; 
} 

h2 { 
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: 'Lato', sans-serif;
  font-size: 36px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 300; 
  line-height: 45px; 
} 


  
h3 { 
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: 'Lato', sans-serif;

  font-size: 24px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 30px; 
} 

h4 { 
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: 'Lato', sans-serif;

  font-size: 16px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 20px; 
} 
p{
  font-family: 'Lato', sans-serif;

}




#title-panel{
  height: auto;
}
#page-title{
  text-align: center;
  padding-top: 2%;
  top:0;
}

#page-subtitle{
  text-align: center;
  margin-top: 0.25em;
  margin-bottom: 2%;

}

#intro-panel{
  padding-left: 18%;
  padding-right: 18%;
  padding-bottom: 3%;


  text-align: justify;
}
#intro-text{
  margin-bottom: 1%;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: 'Lato', sans-serif;

  font-size: 24px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 300; 
  line-height: 30px; 
}

.label {
  text-anchor: middle;
}

#main-panel{
  padding: 4%;

}

.container{
  margin-bottom: 33%;
}

.button-container{
  position: sticky;
  top: 0;
  background-color: white;
  padding-top: 1%;
  padding-left: 4%;
  padding-right: 4%;
}


/* horizontal scorlling buttons for subj areas */
.section-title-panel{
  background-color: floralwhite;
  border: 1px solid gray;
}

.row-section-title{
  padding-top: 12px;
  text-align: center;
}

.graph-panel{
  background-color: floralwhite;
  border: 1px solid gray;
  display: table;
}



div.scrollmenu {
  background-color: rgb(238, 236, 236);
  overflow: auto;
  white-space: nowrap;
  margin-top: 0.5%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 3%;
  
}

div.scrollmenu a {
  display: inline-block;
  color: darkslategrey;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 13px;
}

div.scrollmenu a:hover {
  background-color: #777;
}

div.scrollmenu::webkit-scrollbar{
  display: none;
  height: 0;
  width: 0;
}


div.scrollmenu::-webkit-scrollbar-thumb:horizontal {
display: none;
}




#table-container{
  width: 100%;
}

.column {
  float: left;
}

.left {
  width: 60%;
  background-color: lightblue;
}

.right {
  width: 40%;
  background-color: lightgray;
}

#pubs-img-graph{
  /*display: table-cell;*/
}
.pubs-text{
  text-shadow: 0.1rem 0.1rem 0.3rem darkslategrey;
}
.icons{
  filter: drop-shadow(0.08rem 0.08rem 0.04rem rgba(0, 0, 0, 0.5));
}
.point.outlier{
  radius: 5.5 !important;
}

#keywords-panel {
  font-size: 22px;
  font-variant: small-caps;
  font-weight: 200;
  line-height: normal;
  vertical-align: middle;
  display: table-cell;
}


#tables-column{
  background-color: white !important;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.rank-col{
  font-weight: bold;
}
.name-col{
  width: fit-content;

}
.pubs-col{
  text-align: right
}

.axis {
  font-size: 16px;
}

.panel{
  margin: 0;
  padding: 0;
}


.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}
/*
#wrapper{
  width: 100%;
  display: flex;
  margin: 2%;

}*/

.box-ticklabel{
  fill:silver;
  text-anchor: end;
  font-size: 0.9em;
}
.box-tickline{
  stroke:silver;
  stroke-width: 0.5px;
}
.box-ticknotes{
  fill:silver;
  font-size: 0.75em;
}
.x-axis .tick text{
  font-size: 1.2em;
  font-weight: bold;
}
.y-axis .tick text{
  font-size: 1em;
  font-weight: bold;
}
.y-axis-title{
  font-size: 1em;
  /*font-weight: bold;*/
  text-anchor: start;
  fill: black;
}


.oa-rect-text{
  font-size: 0.6em;
}

#area-funder-table{
  width: 55vw;
  height: 75vh;
  overflow-y: scroll;
  float: left
}



#network-info{
  float: left;
  padding: 2%;
  height: 70vh;

  overflow: scroll;
}
#network-graph{
  width: 100%;
  float: right;
}
#boxplot{
  font-family: 'Lato',sans-serif;
}


.link-line{
  stroke:rgb(35, 35, 35);
}

#community-info{
  background-color: aliceblue;
  width: 45vw;
  height: 20vh;
}
.link-list-item{
  font-size: 0.8em;
}

#nav-tab{
  width: 50%;
}
.tab-pane{
  width: 50%;
}


#funder-table {
  border-collapse: collapse;
  font: 10px sans-serif;
  width: 720px;
}

#funder-table th {
  font-weight: normal;
  text-align: left;
  padding-right: 6px;
  min-width: 43px;

  
}

#funder-table thead {
  position: sticky;
  top: 0;
  margin-bottom: 15px;
  background-color: white;
}



#funder-table thead td {
  cursor: s-resize;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}



.subj-col {
  word-break: break-word;
}


#funder-table tbody tr:first-child td {
  padding-top: 2px;
}
#funder-table tbody tr{
  border-bottom: solid 1px lightgray;
}
#funder-table tbody td {
  padding: 0rem;
  border: solid 0.5rem white;
  background-color: rgb(243, 243, 243);
}

.perc-text{
  fill: rgb(95, 95, 95);
  font: 10px sans-serif;
}

#funder-table tbody rect {
  fill: steelblue;
}

#funder-table tbody tr:hover rect {
  fill: brown;
}

.axis text{
  font-size: 0.8em;
}


.box line{
  stroke: blue;

}